html {
  margin: 5% auto;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  user-select: none;
}

h1 {
  margin: 10px;
}

.inventory {
  display: grid;
  height: 650px;
  width: 770px;
  grid-template-columns: repeat(5, 150px);
  grid-auto-rows: 150px;
  background-color: #232332;
  border: 1px solid #ddd;
  gap: 5px;
  padding: 10px 15px 10px 10px;
  overflow-x: clip;
  overflow-y: auto;
  scrollbar-gutter: stable;
}

.inventory::-webkit-scrollbar {
  width: 5px;
}

.inventory::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.inventory::-webkit-scrollbar-thumb {
  background: #888;
}

.inventory::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.inventory-slot {
  display: flex;
  background-color: #32323c;
  border: 1px solid #ddd;
  text-align: center;
  justify-content: center;
}

.inventory-item {
  display: flex;
  background-color: #eee;
  width: 100%;
  margin: 5px;
  flex-direction: column;
  justify-content: space-between;
  transition: background-color 0.3s;
}

.inventory-item.selected {
  background-color: #ccc;
}

.inventory-item img {
  width: 85px;
  height: 85px;
  margin: 5px auto;
}

.item-label {
  display: flex;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  height: auto;
  margin: .5em 0;
  visibility: visible;
  opacity: 1;
  transition: visibility 0s, opacity .75s;
}

.item-actions {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 0;
  visibility: hidden; /* Hide buttons initially */
  opacity: 0;
  transition: visibility 0s, opacity .75s;
}

.inventory-item.selected .item-label {
  visibility: hidden; /* Hide label when item is selected */
  opacity: 0;
  height: 0;
  margin: 0;
}

.inventory-item.selected .item-actions {
  visibility: visible; /* Show buttons when item is selected */
  opacity: 1;
  height: auto;
  margin-bottom: 5px;
}

.button {
  width: 50px;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  background-color: #007bff;
  border: none;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease-in;
}

.button:hover {
  background-color: #0056b3;
}

.draggable {
  border: 1px solid #ccc;
  cursor: grab;
}

.dropzone {
  border: 2px dashed #999;
  padding: 20px;
  min-height: 200px;
}