body {
  font-family: Arial, sans-serif;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}

.inventory {
  display: grid;
  background-color: hsla(240, 40%, 60%, 0.7);
  border: 1px solid #ddd;
  grid-template-columns: repeat(5, 150px);
  grid-auto-rows: 150px;
  gap: 10px;
  padding: 10px;
}

.inventory-slot {
  display: flex;
  background-color: hsla(240, 50%, 60%, 0.7);
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}

.inventory-slot.empty {
  border: 1px dashed #ddd;
  justify-content: center;
}

.inventory-item {
  display: flex;
  background-color: #eee;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: space-around;
}

.inventory-item.selected {
  background-color: #ccc;
}

.inventory-item img {
  max-width: 100%;
  height: auto;
  max-height: 85px;
  margin: 5px;
}

.item-label {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25px;
  line-height: 25px;
  margin: 5px 0;
}

.item-actions {
  display: none; /* Hide buttons initially */
  justify-content: center;
  align-items: center;
  height: 25px;
  margin: 5px auto;
}

.inventory-item.selected .item-label {
  display: none; /* Hide label when item is selected */
}

.inventory-item.selected .item-actions {
  display: flex; /* Show buttons when item is selected */
}

.use-button, .drop-button {
  padding: 5px 10px;
  margin: 5px;
  background-color: #007bff;
  border: none;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.use-button:hover, .drop-button:hover {
  background-color: #0056b3;
}

.draggable {
  border: 1px solid #ccc;
  cursor: grab;
}

.dropzone {
  border: 2px dashed #999;
  padding: 20px;
  min-height: 200px;
}